@page "/samples/sample1"
@inherits AppComponentBase

<div>
    <Test /> <!-- There is a <h1> inside Test component. -->

    <h1>Sample 1 <br /> But blue background is not applied to Test's h1 </h1>
</div>